input
    display: block
    margin: 0 auto
    padding: 5px
    width: 80%
    font-size: 40px
    text-transform: uppercase
    font-weight: bold
    background-color: rgba(49, 125, 211, 0.4)
    border-radius: 3em

@media (orientation:portrait) and (max-width:414px)
    input
        font-size: 30px
    
@media (orientation:portrait) and (max-width:375px)
    input
        font-size: 25px

/*orientation: landscape*/
@media (orientation:landscape) and (max-width: 823px)
    input
        font-size: 25px

@media (orientation:landscape) and (max-width: 568px)
    input
        font-size: 20px