.result{
    width: 700px;
    margin-top: 10px;
    border-radius: 3em;
    font-size: 30px;
    text-align: center;
}

.result div{
    opacity: 1;
    text-align: left;
    padding: 10px;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.4);
}

.result h1{
    font-size: 35px;
}

.result h2{
    font-size: 30px;
}