.result{
    width: 100%;
    margin-top: 10px;
    border-radius: 3em;
    font-size: 30px;
    text-align: center;
}

.result div{
    opacity: 1;
    text-align: left;
    padding: 10px;
    border-radius: 2em;
    background-color: rgba(255, 255, 255, 0.4);
}

.result h1{
    font-size: 35px;
}

.result h2{
    font-size: 30px;
}

@media(orientation:portrait) and (max-width:1024px){
    .result{
        font-size: 50px;
    }
    .result h1{
        font-size: 45px;
    }
    .result h2{
        font-size: 40px;
    }
}

@media(orientation:portrait) and (max-width:768px){
    .result{
        font-size: 40px;
    }
    .result h1{
        font-size: 35px;
    }
    .result h2{
        font-size: 30px;
    }
}

@media(orientation:portrait) and (max-width:414px){
    .result{
        font-size: 30px;
    }
    .result h1{
        font-size: 30px;
    }
    .result h2{
        font-size: 25px;
    }
}

@media(orientation:portrait) and (max-width:375px){
    .result{
        font-size: 25px;
    }
    .result div{
        border-radius: 1em;
    }
    .result h1{
        font-size: 27px;
    }
    .result h2{
        font-size: 23px;
    }
}

@media(orientation:portrait) and (max-width:320px){
    .result h1{
        font-size: 23px;
    }
    .result h2{
        font-size: 18px;
    }
}

@media(orientation:portrait) and (max-width:280px){
    .result{
        font-size: 20px;
    }
    .result h1{
        font-size: 20px;
    }
}


/*orientation landscape*/
@media(orientation:landscape) and (max-width:1366px){
    .result{
        font-size: 50px;
    }
    .result h1{
        font-size: 43px;
    }
    .result h2{
        font-size: 35px;
    }
}

@media(orientation:landscape) and (max-width:1024px){
    .result{
        font-size: 40px;
    }
    .result h1{
        font-size: 40px;
    }
    .result h2{
        font-size: 30px;
    }
}

@media(orientation:landscape) and (max-width:823px){
    .result{
        font-size: 30px;
    }
    .result div{
        border-radius: 0.5em;
    }
    .result h1{
        font-size: 20px;
    }
    .result h2{
        font-size: 15px;
    }
}

@media(orientation:landscape) and (max-width:640px){
    .result{
        font-size: 30px;
    }
    .result div{
        border-radius: 0.5em;
        padding-top: 1px;
    }
    .result h1{
        font-size: 18px;
    }
    .result h2{
        font-size: 13px;
    }
}